version: '3'
services:
  # Nossa versão estável
  app-v1:
    build: .
    environment:
      - APP_VERSION=V1-ESTAVEL

  # Nossa versão "Canary" (nova)
  app-v2:
    build: .
    environment:
      - APP_VERSION=V2-CANARY

  # O balanceador de carga
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - app-v1
      - app-v2